@media (max-width: 600px) {

    #chatBox {
        display: flex;
    }

    #mobile {
        display: block;
    }

    #desktop {
        display: none;
    }


    i {
        font-size: 16px;
    }

    body {
        width: 100vw;
        height: 100vh;

        .main-container {
            display: none;
            width: 100vw;
            padding: 0;

            .searchFriend-con .searchFriend{
                width: 100vw;
            }

            .customize-theme {
                width: 100vw;
                padding: 0;
                z-index: 100;
                position: absolute;
                top: 0;

                .themeCloseBtn {
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    z-index: 200;
                    i {
                        font-size: 20px;
                    }
                }

                .card {
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    border-radius: 0;
                    z-index: 100;
                    justify-content: center;
                    background: rgba(0, 0, 0, 0.878);

                    h4 {
                        margin-bottom: 30px;
                    }

                    .choose-bg {
                        width: 100%;
                        padding: 0;
                    }

                    .choose-bg>div {
                        width: 30%;
                        padding: 10px;

                        span {
                            width: 14px;
                            height: 14px;
                            padding: 0;
                        }

                        h5 {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .profile-con {
            width: 100px;
        }

        .upProfile-btns {
            button {
                width: 100px;
            }
        }

        /* Friend List */
        #main-page #sidebar2 {
            width: 100vw;
            height: 100vh;
            background-color: var(--color-light);



            .side2-header {
                background-color: var(--color-white);

                h1 {
                    font-size: 20px;
                }

                img {
                    width: 40px;
                }

                .mob-menu-btns i {
                    font-size: 20px;
                }

            }

            .add-friend-btn {
                background-color: var(--color-white);
            }
        }


    }


    #sidebar3 {
        display: none;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        background-color: var(--color-light);

        .menu,.friReq-list-con {
            width: 100%;          
        }

        .menu {
            height: 75%;

            li a {
                border-color: var(--color-white);

                svg {
                    color: var(--color-primary);
                }
            }
        }

        .friReq-list-con {

            padding: 0;
            height: 100vh;

            h2 {
                margin: 0;
                background-color: var(--color-white);
                height: 9vh;
                display: flex;
                justify-content: center;
                align-items: center;
                position: sticky;
                top: 0;
                z-index: 100;
                font-size: 20px;

                a {
                    position: fixed;
                    left: 20px;
                   
                    
                    i {
                        font-size: 20px;
                       
                    }
                }
            }

            .friReq-list {
                height: 91vh;
            }

        }

        .menuCloseBtn {
            position: absolute;
            top: 30px;
            right: 30px;
            
            i {
                font-size: 30px;
            }
        }
    }

}


